---
import LatestPosts from '@components/LatestPosts.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { SITE } from 'config'
---

<BaseLayout
	title={SITE.title}
	description={SITE.description}
>
	<section class="space-y-4 mb-4 pt-4 sm:pt-6 lg:pt-8 pb-10">
		<h1 class="font-bold text-xl sm:text-2xl leading-9">
		欢迎来到我的个人网站
		</h1>
		<p class="leading-9 text-lg">
		我是<span class="font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-cyan-400">{SITE.author.name}</span>, 一名普通开发者、科技爱好者，这里是 我的个人网站，在这里会分享一些技术文章和有趣的新玩意儿。
		</p>
		<div class="space-x-3">
		<a href="https://github.com/cheneno" aria-label="github"><div class="i-line-md:github-loop"></div></a>
		<a href="/rss.xml" aria-label="rss"><div class="i-line-md:rss"></div></a>
		<a href="mailto:hi@cheneno.com" aria-label="email"><div class="i-line-md:email"></div></a>
		</div>
	</section>

	<LatestPosts />
</BaseLayout>