---
import { MENU } from 'config'
import MenuToggle from './MenuToggle.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<header id="header" class="bg-header text-header">
    <nav class="w-full max-w-[855px] font-500 tracking-wider h-28 flex flex-wrap text-size-base items-center justify-between mx-auto px-4">
        <a href="/" class="flex items-center">
            Chen Eno
        </a>

        <div class="flex items-center space-x-2 md:order-2 text-lg">
            <ThemeToggle />
            <MenuToggle />
        </div>

        <div id="navLinks" class="w-full hidden items-center md:flex md:w-auto md:order-1">
            {MENU.map(item => {
                return <a class="link" href={item.url}>{item.name}</a>
            })}
        </div>
    </nav>
</header>

<style>
#header {
    box-shadow: 0px 10px 50px -15px rgb(0 0 0 / 10%);
}

.link {
    --uno: "block text-center py-2 px-0 decoration-none hover:bg-base-hover md:inline-block md:py-15px md:px-20px md:hover:bg-base md:hover:text-base-hover";
}

.expanded {
    display: unset;
}
</style>

<script>
    document.addEventListener("astro:page-load", () => {
        document.querySelector("#menuToggle")?.addEventListener('click', () => {
            document.querySelector("#navLinks")?.classList.toggle('expanded')
        })
    })
</script>