---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import '@styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@components/BaseHead.astro'
import type { MetaInfo } from '@types'

type Props = MetaInfo

const { ...meta } = Astro.props
---

<html lang="zh-cn">
  <head>
    <BaseHead {...meta} />
    <ViewTransitions />
  </head>
  <body class="bg-base text-base">
    <Header />
    <slot name="page-header" />
    <main class="max-w-[855px] mx-auto pt-12 px-5">
      <slot />
      <Footer />
    </main>
  </body>
</html>